    <html>
        <head>
            <title>Blog is here</title>
        </head>
        <body>
            <div>
                <h1><a href="">My Blog</a></h1>
            </div>

            <div>
                <p>published: 02.11.2016, 16:30</p>
                <h2><a href="">My first post</a></h2>
                <p>Hey! It's my post!</p>
            </div>

            <div>
                <p>published: 02.11.2016, 16:31</p>
                <h2><a href="">My second post</a></h2>
                <p>It's yours post!</p>
            </div>
        </body>
    </html>